body{


}

nav{
	background-color: #414345;
	text-align: center;
	
	width: 100%;
}

.button{
	background-color: #414345;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px; 
	transition-duration: 0.6s;
	margin-right: 25px;
}

.button:hover{
	background-color:#bdc3c7; 
}




.card-deck{
    margin-top: 5%;
    width: 75%;
    text-align: center;
    margin-left: 12%;
    margin-bottom: 5%;

}

.parallax{
    background-image: url('1.jpg');
	height: 100%;
    width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

img{
	height: 50%;
}

.but{
	background-color: #59C173;
	color: white;
	text-align: center;
	padding: 12px 22px;
	display: inline-block;
	border-radius: 8px;
	border-color: #59C173;

}

.bkt{
	background-color: red;
	color: white;
	text-align: center;
	padding: 12px 22px;
	display: inline-block;
	border-radius: 8px;
	border-color: red;
}

.bxt{
	background-color: blue;
	color: white;
	text-align: center;
	padding: 12px 22px;
	display: inline-block;
	border-radius: 8px;
	border-color: blue;
}

.row{
	width: 75%;
    text-align: center;
    margin-left: 12%;
    margin-bottom: 10%;
}

.card-img-top{
	height: 50%;
}

.par2{
	background-image: url('4.jpg');
	height: 50%;
    width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.par3{
	background-image: url('2.jpg');
	height: 75%;
    width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form-row{
	width: 20%;
	margin-left: 20%;
}

h1{
	
	margin-left: 40%;
	color: white;
	font-size: 65px;
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-content h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 520px) {
  .col-xxs-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  header { height: 50vh; }
}
